<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的个人网站</title>
    <link href="~/Scripts/Plugins/MiniUI/themes/default/miniui.css" rel="stylesheet" />
    <link href="~/Scripts/Plugins/Bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Scripts/Plugins/slimScroll/prettify.css" rel="stylesheet" />

    <script src="~/Scripts/jQuery/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/Plugins/Bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/Plugins/slimScroll/prettify.js"></script>
    <script src="~/Scripts/Plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/Plugins/MiniUI/miniui.js"></script>
    <!--页面初始化函数-->
    <script type="text/javascript">
        $(function () {
            $.ajax({
                type: 'post',
                url: '/UserManagement/GetUserInfo ',
                data: {},
                dataType: 'json',
                success: function (data) {
                    if (data["result"] == "@Common.CommonEnum.AjaxResult.SUCCESS") {
                        $("#fat-btn").html("" + data["f_uid"] + "");
                        @*data["gender"] = data["f_gender"];
                        if (data["gender"] == "@Common.CommonEnum.UserGender.FAMALE") {
                            $("#gender_div").html("女士！");
                        } else if (data["gender"] == "@Common.CommonEnum.UserGender.MALE") {
                            $("#gender_div").html("先生！");
                        } else {
                            $("#gender_div").html("用户！");
                        }*@
                    }
                },
                error: function () { }
            });
        });
    </script>

    <style type="text/css">
        div.head-line-div {
            width: 100%;
            height: 150px;
            background-color:#000000;
            background-image:url('http://s2.sinaimg.cn/mw690/005A8EsSzy6Ngx0CxeF41&690');
            /*background-repeat:no-repeat;*/
            background-position:center;
        }

        div.head-menu-div {
            width: 15%;
            height: 600px;
            float:left;
            background-color: #dedada;
        }

        div.center-main-body-div {
            width: 70%;
            float:left;
            background-color: #606060;
            
        }

        div.footer-div {
            width: 100%;
            height: 20px;
            clear:both;
            background-color: #808080;
            text-align:center;
        }
        a.left-menu-item {
            text-align:center;

        }
        body {
              background-color: #312e2e;
        }
    </style>
</head>
<body>
    <div>
        <div id="head_line_div" class="head-line-div">
            <div style="width:200px;height:50px;float:left;margin-top:50px;margin-left:100px;">
                <button id="fat-btn" class="btn btn-primary" 
                        type="button">

                </button>
            </div>
            <div style="width:200px;float:right;height:50px;margin-top:100px;margin-right:100px;"></div>
        </div>
        <div id="head_menu_div" class="head-menu-div">
            <ul class="nav nav-pills nav-stacked" >
                <li class="active"><a href="/MainPage/Index" class="left-menu-item">主页</a></li>
                <li><a href="#" class="left-menu-item">游戏</a></li>
                <li><a href="/Note/Index" class="left-menu-item">留言板</a></li>
                
            </ul>

        </div>

        <div id="center_main_body_div" class="center-main-body-div">
            @RenderBody()
        </div>
        <div id="footer_div" class="footer-div">
            @@2017 stagebo
        </div>
    </div>

</body>
</html>