@{
    ViewBag.Title = "日常记账";
}
@*<script src="~/Scripts/jQuery/jquery-3.2.1.min.js"></script>*@
@Html.Partial("~/Views/Shared/Script_JQuery-2.1.1.cshtml")
<script src="~/Scripts/Common/CommonFunction.js"></script>
<!--分页插件-->
<link href="~/Scripts/Plugins/jQueryPager/jquery.page.css" rel="stylesheet" />
<script src="~/Scripts/Plugins/jQueryPager/jquery.page.js"></script>

@Html.Partial("~/Views/Shared/Script_MiniUI.cshtml")
@Html.Partial("~/Views/Shared/Script_JBox.cshtml")

<link href="~/Scripts/Plugins/jQueryUI/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/Plugins/jQueryUI/jquery-ui.min.js"></script>

<script type="text/javascript">
    $(function () {
        globalPagerParams = {
            "pageIndex": 1,
            "pageSize": "20",
            "totalCount": "",
            "totalPage": "",
            "isInit": "0"
        };
        mini.parse();
        searchRunningAccountList();
        getRemainMoney();
        mini.get("account_datagrid_div").setPageSize(1);
        //mini_debugger = false
    });
    function searchRunningAccountList(e) {
        var datagrid = mini.get("account_datagrid_div");
        //var pageSize = datagrid.getPageSize();
        //var pageIndex = datagrid.getPageIndex();
        var sortField = datagrid.getSortField();
        var sortOrder = datagrid.getSortOrder();
        var options = {
            "pageSize": 20,
            "pageIndex": 1,
            "sortField": sortField,
            "sortOrder": sortOrder
        };
        globalPagerParams = $.extend(options, globalPagerParams);
        $.ajax({
            type: 'post',
            url: '/RunningAccount/SearchAccountListByUser',
            data: globalPagerParams,
            dataType: 'json',
            success: function (data) {
                data = $CommonFunction.decodeObject(data);
                if (data["result"] == "@Common.CommonEnum.AjaxResult.SUCCESS") {
                    //datagrid.setTotalCount(parseInt(data["totalCount"]));
                    // datagrid.setPageSize(parseInt(1));
                    datagrid.setData(data["data"]);
                    $ShowMessageDialog.ShowTipsRightTop({ "message": "查询成功！" });
                    if (globalPagerParams["isInit"] == "0") {
                        refreshRunningPager(data['totalPage']);
                        globalPagerParams["isInit"] = "1";
                    }
                    return;
                } else {
                    $ShowMessageDialog.ShowTipsRightTop({ "message": "查询失败.！" });
                }
            },
            error: function () {
                $ShowMessageDialog.ShowTipsRightTop({ "message": "查询失败！" });
            }

        });
    }

    function accountDatagridOnDrawcell(e) {
        if (e.field == "f_type") {
            switch (e.value) {
                case "@Common.CommonEnum.RunningAccountType.INCOME":
                    e.cellHtml = "@Common.CommonEnum.RunningAccountType.INCOME_STRING";
                    break;
                case "@Common.CommonEnum.RunningAccountType.OUTCOME":
                    e.cellHtml = "@Common.CommonEnum.RunningAccountType.OUTCOME_STRING";
            }
        }

    }
    function getRemainMoney() {
        /*remain_money_div*/
        $.ajax({
            type: 'post',
            url: '/RunningAccount/GetBalanceByUser',
            data: {},
            dataType: 'json',
            success: function (data) {

                if (data["result"] == "@Common.CommonEnum.AjaxResult.SUCCESS") {
                    mini.get("remain_money_div").setValue(data["money"]);
                } else {
                    $ShowMessageDialog.ShowTipsRightTop({ "message": "查询余额失败！" });
                }
            },
            error: function () {
                $ShowMessageDialog.ShowTipsRightTop({ "message": "查询余额失败！" });
            }
        });
    }

    function refreshRunningPager(totalPage) {
        $("#running_account_pager_div").Page({
            totalPages: parseInt(totalPage),//total Pages
            liNums: 5,//the li numbers(advice use odd)
            activeClass: 'activP', //active class style
            firstPage: '<<',//first button name
            lastPage: '>>',//last button name
            prv: '<',//prev button name
            next: '>',//next button name
            hasFirstPage: true,//whether has first button
            hasLastPage: true,//whether has last button
            hasPrv: true,//whether has prev button
            hasNext: true,//whether has next button
            callBack: function (page) {
                globalPagerParams["pageIndex"] = page;
                searchRunningAccountList();
            }
        });
    }
</script>
<div style="background-color:#fff;">
    <!--数据表格-->
    <div>
        <div class="mini-toolbar">
            <div class="mini-button" onclick="searchRunningAccountList" iconCls="icon-reload" ">刷新</div>
            <div class="mini-button" onclick="window.location='/q'" iconCls="icon-add">添加</div>
            <div class="mini-button" onclick="$AddAccountPurposeDialog.ShowAddAccountPurposeDialog()" iconCls="icon-add">添加类型</div>
            <div class="mini-button" onclick="$AccountChartsDialog.showAccountChartsDialog()">查看统计详情</div>

            <div style="float:right">
                <div style="float:left">余额：</div>
                <div id="remain_money_div" class="mini-textbox" width="120" allowInput="false" style="float:left;"></div>
            </div>
        </div>
        <div id="account_datagrid_div" class="mini-datagrid" ondrawcell="accountDatagridOnDrawcell" idfield="f_id" showloading="false"
             showpager="false" allowsortcolumn="true" allowmovecolumn="false" allowresizecolumn="true" allowcellwrap="true" allowalternating="true"
             onbeforeload="searchRunningAccountList" sizeList="[10,20,50]" height="500">
            <div property="columns">
                <div type="indexcolumn"></div>
                <div field="f_type" width="50" headerAlign="center" @*allowSort="true"*@>类型</div>
                <div field="f_time" width="90" headerAlign="center" @*allowSort="true"*@>时间</div>
                <div field="f_money" width="50" headerAlign="center" @*allowSort="true"*@>数量</div>
                <div field="f_purpose_name" width="60" headerAlign="center">用途</div>
                <div field="f_remark" width="120" headerAlign="center">备注</div>
                @*<div field="f_address" width="120" headerAlign="center">地点</div>*@
            </div>
        </div>
        <br />
        <div id="running_account_pager_div">
        </div>
    </div>
    <br /><br />
    <!--图像展示-->
    @*<script type="text/javascript">
        $(function () {
            initEChar();
        });
        function initEChar() {
            drawLastWeekOutCome();
            drawLastMonthOutCome();
            drawLastYearOutCome();
            drawLastWeekInCome();
            drawLastMonthInCome();
            drawLastYearInCome();
        }
        /*上周支出*/
        function drawLastWeekOutCome() {
            var ajaxData = {
                'method': 'day',
                'count': 7,
                'type': '@Common.CommonEnum.RunningAccountType.OUTCOME',
                'color': ['#f00'],
                'title': '最近一周支出',
                'domID': 'last_week_outcome',
                'dataName': '支出'
            };
            ajaxSearchData(ajaxData);

        }
        /*上周收入*/
        function drawLastWeekInCome() {
            var ajaxData = {
                'method': 'day',
                'count': 7,
                'type': '@Common.CommonEnum.RunningAccountType.INCOME',
                'title': '最近一周收入',
                'domID': 'last_week_income',
                'dataName': '收入'
            };
            ajaxSearchData(ajaxData);
        }

        /*最近一月支出*/
        function drawLastMonthOutCome() {
            var ajaxData = {
                'method': 'day',
                'count': 30,
                'type': '@Common.CommonEnum.RunningAccountType.OUTCOME',
                'color': ['#f00'],
                'title': '最近一月支出',
                'domID': 'last_month_outcome',
                'dataName': '支出'
            };
            ajaxSearchData(ajaxData);

        }

        /*最近一月收入*/
        function drawLastMonthInCome() {
            var ajaxData = {
                'method': 'day',
                'count': 30,
                'type': '@Common.CommonEnum.RunningAccountType.INCOME',
                'title': '最近一月收入',
                'domID': 'last_month_income',
                'dataName': '收入'
            };
            ajaxSearchData(ajaxData);

        }


        /*最近一年支出*/
        function drawLastYearOutCome() {
            var ajaxData = {
                'method': 'month',
                'count': 12,
                'type': '@Common.CommonEnum.RunningAccountType.OUTCOME',
                'title': '最近一年支出',
                'domID': 'last_year_outcome',
                'dataName': '支出',
                'color': ['#f00']
            };
            ajaxSearchData(ajaxData);
        }

        /*最近一年收入*/
        function drawLastYearInCome() {
            var ajaxData = {
                'method': 'month',
                'count': 12,
                'type': '@Common.CommonEnum.RunningAccountType.INCOME',
                'title': '最近一年收入',
                'domID': 'last_year_income',
                'dataName': '收入'
            };
            ajaxSearchData(ajaxData);
        }
    </script>
    <script src="~/Scripts/Plugins/ECharts/echarts.js"></script>
    <script type="text/javascript">
        /*搜索数据集成函数*/
        function ajaxSearchData(options) {
            var ajaxData = {
                'method': options['method'],
                'count': options['count'],
                'type': options['type']
            };
            /*默认参数设置*/
            var defaultParams = {
                'color': ['#3398DB'],
                'title': '图表标题',
                'domID': 'echarts_default_place_div',
                'dataName': '数据名称'
            };

            if (!options["domID"] || options["domID"] == undefined) {
                $("body").append('<div id="echarts_default_place_div" style="width:500px;height:500px;"></div>');
            }
            options = $.extend(defaultParams, options);
            $.ajax({
                type: 'post',
                url: '/RunningAccount/GetRunningAccountDataByCondition',
                data: ajaxData,
                dataType: 'json',
                success: function (jsonData) {
                    jsonData = $CommonFunction.decodeObject(jsonData);
                    if (jsonData["result"] == "@Common.CommonEnum.AjaxResult.ERROR") {
                        $ShowMessageDialog.ShowTipsRightTop({ "message": "查询" + options["title"] + "失败！" });
                    }
                    var dataList = jsonData["dataList"];
                    var dataListArray = new Array();
                    var dataNameArray = new Array();
                    for (var item in dataList) {
                        dataListArray[dataListArray.length] = item["money"];
                        dataNameArray[dataNameArray.length] = item["dateTime"];
                    }
                    var option = {
                        color: options["color"],
                        title: {
                            text: options["title"]
                        },
                        tooltip: {},
                        legend: {
                            data: [options["dataName"]]
                        },
                        xAxis: {
                            data: jsonData["tL"]
                        },
                        yAxis: {},
                        series: [{
                            name: options["dataName"],
                            type: 'bar',
                            data: jsonData["dL"]
                        }]
                    };

                    var myChart = echarts.init(document.getElementById(options["domID"]));
                    myChart.setOption(option);
                    $ShowMessageDialog.ShowTipsRightTop({ "message": "查询" + options["title"] + "成功！" });
                },
                error: function () {
                    $ShowMessageDialog.ShowTipsRightTop({ "message": "查询" + options["title"] + "失败！" });
                }
            });
        }
    </script>*@

    @*<style type="text/css">
        div.show-item-left-div {
            background-color: #ccc;
            width: 50%;
            float: left;
            height: 500px;
        }

        div.show-item-right-div {
            background-color: #aaa;
            width: 50%;
            float: left;
            height: 500px;
        }
    </style>

    <div>
        <div>
            <h1 style="width:100%;text-align:center;background-color:#555;">最近一周</h1>
            <div class="show-item-left-div">
                <div id="last_week_outcome" style="width:100%;height:400px;">
                </div>
            </div>
            <div class="show-item-right-div">
                <div id="last_week_income" style="width:100%;height:400px;">
                </div>
            </div>
        </div>

        <div>
            <h1>最近一月</h1>
            <div class="show-item-left-div">
                <div id="last_month_outcome" style="width:100%;height:400px;">
                </div>
            </div>
            <div class="show-item-right-div">
                <div id="last_month_income" style="width:100%;height:400px;">
                </div>
            </div>
        </div>

        <div>
            <h1>最近一年</h1>
            <div class="show-item-left-div">
                <div id="last_year_outcome" style="width:100%;height:400px;">
                </div>
            </div>
            <div class="show-item-right-div">
                <div id="last_year_income" style="width:100%;height:400px;">
                </div>
            </div>
        </div>

    </div>
</div>*@
@Html.Partial("~/Views/RunningAccount/Dialog_Add_Account_Purpose.cshtml")
@Html.Partial("~/Views/RunningAccount/Dialog_Show_Account_Statistics_Chart.cshtml")